name: Latest blog post workflow
on: 
    workflow_dispatch:
    schedule:
        - cron: '0 * * * *'
permissions:
    contents: write

jobs: 
    update-readme-with-blog: 
        name: Update this repo's README with latest blog posts
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v2
            - uses: gautamkrishnar/blog-post-workflow@master
              with: 
                max_post_count: "5"
                feed_names: "Medium, Dev"
                remove_duplicates: true
                feed_list: "https://medium.com/feed/@safalshrestha721156, https://dev.to/feed/safalshrestha109"